@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}

.active{
    background-color : #f5f5f5;
    border-color : #c586c5
}

select , input , textarea{
    border : 1px solid #c2c2c2;
    outline-color :#c586c5;
    border-radius : 4px;
}
